.toolbar {
	display: flex;
	align-items: center;
	gap: 12px;
	flex-wrap: wrap;
	padding: 12px 16px;
	border: 1px solid var(--border);
	border-radius: 6px;
}

.toolbar__panel {
	margin-left: auto;
}

@media (min-width: 671px) and (max-width: 1300px) {
	.toolbar {
		gap: 10px;
		padding: 10px 14px;
	}
}

@media (max-width: 670px) {
	.toolbar {
		gap: 8px;
		padding: 8px 12px;
		flex-direction: column;
		align-items: stretch;
	}

	.toolbar__panel {
		margin: auto;
	}
}
